<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>DevBurguer - Cardápio</title>
    <link rel="stylesheet" href="/public/styles/styles.css" />
    <link rel="stylesheet" href="/public/styles/agradecimento.css" />
    <link
      rel="shortcut icon"
      href="/public/images/favicon.ico"
      type="image/x-icon"
    />
  </head>
  <body>
    <header>
      <a href="/" class="link-title">
        <h1>DevBurguer</h1>
      </a>
      <p>O verdadeiro sabor do hambúrguer artesanal.</p>
    </header>

    <main>
      <h2>{{title}}</h2>
      <div>{{content}}</div>
    </main>

    <footer>
      <p>&copy; 2025 DevBurguer. Todos os direitos reservados.</p>
    </footer>
  </body>
</html>
